@import url(//hangeul.pstatic.net/hangeul_static/css/nanum-square.css);

@font-face {
    font-family: "SpoqaHanSansNeo MD";
    src: url("/world-map-demo/resources/resources/orion/fonts/SpoqaHanSansNeo-Medium.woff2");
    font-display: block;
}

@font-face {
    font-family: "SpoqaHanSansNeo BD";
    src: url("/world-map-demo/resources/resources/orion/fonts/SpoqaHanSansNeo-Bold.ttf");
    font-display: block;
}

@font-face {
    font-family: "SpoqaHanSansNeo RG";
    src: url("/world-map-demo/resources/resources/orion/fonts/SpoqaHanSansNeo-Regular.ttf");
    font-display: block;
}

@font-face {
    font-family: "Gmarket Sans BD";
    src: url("/world-map-demo/resources/resources/orion/fonts/GmarketSansTTFBold.woff2");
    font-display: block;
}

@font-face {
    font-family: "Montserrat-BoldItalic";
    src: url("/world-map-demo/resources/resources/orion/fonts/Montserrat-BoldItalic.ttf");
    font-display: block;
}

.sidebar .sidebar-brand .sidebar-brand-text {
    font-family: "Gmarket Sans BD" !important;
    font-size: 1.25rem;
}

.logo-text {
    font-family: "Gmarket Sans BD" !important;
}

* { 
	font-family: 'SpoqaHanSansNeo MD';
}

span.logout {
	font-family: "SpoqaHanSansNeo BD";
	color: #858796;
}

span.logo {
    font-family: "Gmarket Sans BD" !important;
    color: #5a5c69;
    vertical-align: 0.075em;
}

span.copy {
    font-family: "SpoqaHanSansNeo MD" !important;
    font-size: 0.9rem;
    font-weight: bold;
}

span.en-title {
    font-family: "Montserrat-BoldItalic" !important;
}

.modal-title {
	font-family: "SpoqaHanSansNeo BD";
}