<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@ taglib uri="http://www.springframework.org/security/tags" prefix="sec" %>
<!DOCTYPE html>
<html lang="en">

<head>
	<title>다양한 도법 생성기</title>
    <meta charset="utf-8">
	
	<link rel="stylesheet" href="/world-map-demo/resources/orion/css/tools.css?after">
    <link rel="stylesheet" href="/world-map-demo/resources/orion/css/generator.css?after">
    <link rel="icon" href="/world-map-demo/resources/orion/images/favicon.png" sizes="any" type="image/png">
    <link rel="icon" href="/world-map-demo/resources/orion/images/favicon-32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/world-map-demo/resources/orion/images/favicon-192.png" sizes="192x192" type="image/png">
    <link rel="apple-touch-icon" href="/world-map-demo/resources/orion/images/apple-icon.png" type="image/png">
    
    <script src="/world-map-demo/resources/orion/tools/vectormap/js/d3.v6.min.js"></script>
    <script src="/world-map-demo/resources/orion/tools/vectormap/js/d3-geo-projection.v3.min.js"></script>
    <script src="/world-map-demo/resources/orion/tools/vectormap/js/topojson.js"></script>
    <script src="/world-map-demo/resources/orion/tools/vectormap/js/WorldMapGenerator.js"></script>
    <script src="/world-map-demo/resources/orion/tools/vectormap/js/varioustype.js"></script>
    
    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="/world-map-demo/resources/vendor/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
 
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/world-map-demo/resources/css/sb-admin-2.min.css">

</head>

<%@include file="../../includes/header_varioustype.jsp"%>

        <!-- Page Heading -->
        <h1 class="h3 mb-2" style="font-weight: bold; color: #5a5c69;">다양한 도법 생성기</h1>
        <div class="mb-4">
            <p>아래 값을 조절하여 원하는 구도를 잡고 버튼을 클릭하여 SVG 파일을 다운로드하세요. 추가한 원/선은 결과창에서 클릭하면 제거됩니다.</p>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold" style="color: tomato;">모든 선의 색, 육지의 색이 CMYK 형식이 아니기 때문에 반드시 Illustrator로 직접 색을 CMYK 형식으로 변경해주세요!</h6>
            </div>
            <div class="table-container">
                <table style="width: fit-content; padding-top: 16px;">
                    <tr>
                        <td style="width: 260px;">
                            <div class="value-info">
                                <p>각도 조절</p>
                            </div>
                        </td>
                        <td style="width: 400px;">
                            <div class="value-info">
                                <p>사용자 정의 옵션</p>
                            </div>
                        </td>
                        <td style="width: 640px;">
                            <div class="value-info">
                                <p>결과</p>
                            </div>
                        </td>
                        <td style="width: 260px;">
                            <div class="value-info">
                                <p>색상 및 두께 커스텀</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="card mb-4" style="margin-bottom: 0em !important;">
                                <div class="card-body">
                                    <div class="slider">
                                        <p>λ = </p>
                                        <input id="lambda-form" type="number" step=".01" value="0.00" min="-180" max="180" style="width: 30%;" />
                                        <input id="lambda" type="range" min="-180" max="180" value="0" step=".01" style="width: 100%" />
                                    </div>
                                    <div class="slider">
                                        <p>φ = </p>
                                        <input id="phi-form" type="number" step=".01" value="0.00" min="-180" max="180" style="width: 30%;" />
                                        <input id="phi" type="range" min="-180" max="180" value="0" step=".01" style="width: 100%;" />
                                    </div>
                                    <div class="slider">
                                        <p>γ = </p>
                                        <input id="gamma-form" type="number" step=".01" value="0.00" min="-180" max="180" style="width: 30%;" />
                                        <input id="gamma" type="range" min="-180" max="180" value="0" step=".01" style="width: 100%;" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary btn-block" id="set-type-usa">미국 중심 모드 설정</button>
                            </div>
                            <div>
                                <button class="btn btn-primary btn-block" id="set-type-cjk">한중일 중심 모드 설정</button>
                            </div>
                            <div>
                                <button class="btn btn-primary btn-block" id="set-type-kor">한반도 중심 모드 설정</button>
                            </div>
                        </td>
        
                        <td>
                            <div class="card mb-4" style="margin-bottom: 0em !important;">
                                <div class="card-body" style="color: #3a3b45;">
                                    <div style="margin-bottom: 3px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 호수 및 저수지 표시</label>
                                    </div>
                                    <div style="margin-bottom: 3px; margin-left: 15px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 호수 및 저수지 단순화</label>
                                    </div>
                                    <div style="margin-bottom: 3px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 판 경계 표시</label>
                                    </div>
                                    <div style="margin-bottom: 3px; margin-left: 15px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 판 경계 단순화</label>
                                    </div>
                                    <div style="margin-bottom: 3px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 육지 표시</label>
                                    </div>
                                    <div style="margin-bottom: 3px; margin-left: 15px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 육지 단순화</label>
                                    </div>
                                    <div style="margin-bottom: 3px; margin-left: 15px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 국경선 표시</label>
                                    </div>
                                    <div style="margin-bottom: 3px; margin-left: 30px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 미국 주(State) 표시</label>
                                    </div>
                                    <div style="margin-bottom: 3px; margin-left: 30px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 중국 성(省) 표시 (단순화하면 안 보임)</label>
                                    </div>
                                    <div style="margin-bottom: 3px; margin-left: 30px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 시도 표시 (한반도 중심 모드 전용)</label>
                                    </div>
                                    <div style="margin-bottom: 3px; margin-left: 45px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 시군구 표시 (한반도 중심 모드 전용)</label>
                                    </div>
                                    <div style="margin-bottom: 3px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 경도선 표시</label>
                                    </div>
                                    <div style="margin-bottom: 3px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 위도선 표시</label>
                                    </div>
                                    <div style="margin-bottom: 3px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 적도선 표시</label>
                                    </div>
                                    <div style="margin-bottom: 3px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 북회귀선 표시</label>
                                    </div>
                                    <div style="margin-bottom: 3px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 남회귀선 표시</label>
                                    </div>
                                    <div style="margin-bottom: 3px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 북극권 표시</label>
                                    </div>
                                    <div style="margin-bottom: 3px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 남극권 표시</label>
                                    </div>
                                    <div style="margin-bottom: 3px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 등복각선 표시</label>
                                    </div>
                                    <div style="margin-bottom: 3px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 주요 표층 해류 표시</label>
                                    </div>
                                    <div style="margin-bottom: 3px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 심층 순환 표시</label>
                                    </div>
                                    <div style="margin-bottom: 3px; margin-left: 15px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 표층수 표시</label>
                                    </div>
                                    <div style="margin-bottom: 3px; margin-left: 15px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 심층수 표시</label>
                                    </div>
                                    <div style="margin-bottom: 3px; margin-left: 15px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 저층수 표시</label>
                                    </div>
                                    <div style="margin-bottom: 3px;">
                                        <label><input type="checkbox" class="option-checkbox" /> 문화권 영역 표시</label>
                                    </div>
                                </div>
                            </div>
                        </td>
        
                        <td rowspan="3">
                            <div>
                                <div>
                                    <select class="form-control" name="projections" id="projection-select" style="width: 86%; margin-left: 42px;"></select>
                                </div>
                                <div class="form-result">
                                    <svg width="560" height="560" id="generated-svg" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin-left: 37px;">
                                    </svg>
                                    <canvas width="560" height="560" id="generated-canvas" style="display: none; margin-left: 37px;">
                                    </canvas>
                                </div>
                                <div>
                                    <button class="btn btn-danger btn-block" id="deselect-areas" style="margin-top: 54px;">선택한 영역 전체 해제</button>
                                </div>
                                <div>
                                    <button class="btn btn-success btn-block" id="download-svg">SVG 다운로드</button>
                                </div>
                                <!-- 분쟁 국가 목록 관리 카드 -->
                                <div class="mb-3">
                                    <div class="card">
                                        <div class="card-body p-2" style="height: 200px; overflow-y: auto; font-size:0.85rem;">
                                            <strong class="d-block mb-1">분쟁 국가 목록</strong>
                                            <p class="mb-1" style="font-size:0.8rem; margin-bottom:0.3rem;">항목 옆 ✏️ 버튼으로 수정, 🗑️로 삭제할 수 있습니다.</p>
                                            <ul id="dispute-list" style="list-style:none; padding-left:0; margin-bottom:0;"></ul>
                                            <div class="input-group mt-2">
                                                <input type="text" class="form-control form-control-sm" id="new-dispute-input" placeholder="CountryA-CountryB">
                                                <div class="input-group-append">
                                                    <button class="btn btn-sm btn-primary" id="add-dispute-btn" type="button">추가</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td rowspan="3">
                            <div class="card mb-4" style="margin-bottom: 0em !important;">
                                <div class="card-body" style="height: 760px; overflow-y: auto;">
                                    <!-- Ocean -->
                                    <div class="mb-3">
                                        <strong class="d-block mb-1">해양</strong>
                                        <div class="d-flex align-items-center justify-content-between mb-1">
                                            <span>색상</span>
                                            <input type="color" style="width:50px;" oninput="updateStyleWithDebounce('oceanFillColor', this.value)">
                                        </div>
                                    </div>
                                    <hr>
                                    <!-- Land -->
                                    <div class="mb-3">
                                        <strong class="d-block mb-1">육지</strong>
                                        <div class="d-flex align-items-center justify-content-between mb-1">
                                            <span>색상</span>
                                            <input type="color" style="width:50px;" oninput="updateStyleWithDebounce('landFillColor', this.value)">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-1">
                                            <span>테두리 색</span>
                                            <input type="color" style="width:50px;" oninput="updateStyleWithDebounce('landStrokeColor', this.value)">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span>테두리 두께</span>
                                            <input type="text" style="width:60px; text-align:right;" oninput="generator.setCustomStyle('landStrokeWidth', this.value, false)">
                                        </div>
                                    </div>
                                    <hr>
                                    <!-- Lake -->
                                    <div class="mb-3">
                                        <strong class="d-block mb-1">호수 및 저수지</strong>
                                        <div class="d-flex align-items-center justify-content-between mb-1">
                                            <span>색상</span>
                                            <input type="color" style="width:50px;" oninput="updateStyleWithDebounce('lakeFillColor', this.value)">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-1">
                                            <span>테두리 색</span>
                                            <input type="color" style="width:50px;" oninput="updateStyleWithDebounce('lakeStrokeColor', this.value)">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span>테두리 두께</span>
                                            <input type="text" style="width:60px; text-align:right;" oninput="generator.setCustomStyle('lakeStrokeWidth', this.value, false)">
                                        </div>
                                    </div>
                                    <hr>
                                    <!-- Border -->
                                    <div class="mb-3">
                                        <strong class="d-block mb-1">국경선</strong>
                                        <div class="d-flex align-items-center justify-content-between mb-1">
                                            <span>색상</span>
                                            <input type="color" style="width:50px;" oninput="updateStyleWithDebounce('borderStrokeColor', this.value)">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-1">
                                            <span>두께</span>
                                            <input type="text" style="width:60px; text-align:right;" oninput="generator.setCustomStyle('borderStrokeWidth', this.value, false)">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span>점선 패턴</span>
                                            <input type="text" style="width:60px; text-align:right;" oninput="generator.setCustomStyle('borderStrokeDash', this.value, false)">
                                        </div>
                                    </div>
                                    <hr>
                                    <!-- Dispute Border -->
                                    <div class="mb-3">
                                        <strong class="d-block mb-1">분쟁지역 경계선</strong>
                                        <div class="d-flex align-items-center justify-content-between mb-1">
                                            <span>색상</span>
                                            <input type="color" style="width:50px;" oninput="updateStyleWithDebounce('disputeBorderStrokeColor', this.value)">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-1">
                                            <span>두께</span>
                                            <input type="text" style="width:60px; text-align:right;" oninput="generator.setCustomStyle('disputeBorderStrokeWidth', this.value, false)">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span>점선 패턴</span>
                                            <input type="text" style="width:60px; text-align:right;" oninput="generator.setCustomStyle('disputeBorderStrokeDash', this.value, false)">
                                        </div>
                                    </div>
                                    <hr>
                                    <!-- Selected Country -->
                                    <div class="mb-3">
                                        <strong class="d-block mb-1">선택된 영역</strong>
                                        <div class="d-flex align-items-center justify-content-between mb-1">
                                            <span>색상</span>
                                            <input type="color" style="width:50px;" oninput="updateStyleWithDebounce('selectedCountryFillColor', this.value)">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-1">
                                            <span>테두리 색</span>
                                            <input type="color" style="width:50px;" oninput="updateStyleWithDebounce('selectedCountryStrokeColor', this.value)">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span>테두리 두께</span>
                                            <input type="text" style="width:60px; text-align:right;" oninput="generator.setCustomStyle('selectedCountryStrokeWidth', this.value, false)">
                                        </div>
                                    </div>
                                    <hr>
                                    <!-- Shapes -->
                                    <div class="mb-3">
                                        <strong class="d-block mb-1">도형 (원/선)</strong>
                                        <div class="d-flex align-items-center justify-content-between mb-1">
                                            <span>원 색상</span>
                                            <input type="color" style="width:50px;" oninput="updateStyleWithDebounce('circleStrokeColor', this.value)">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-1">
                                            <span>원 두께</span>
                                            <input type="text" style="width:60px; text-align:right;" oninput="generator.setCustomStyle('circleStrokeWidth', this.value, false)">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-1">
                                            <span>선 색상</span>
                                            <input type="color" style="width:50px;" oninput="updateStyleWithDebounce('lineStrokeColor', this.value)">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span>선 두께</span>
                                            <input type="text" style="width:60px; text-align:right;" oninput="generator.setCustomStyle('lineStrokeWidth', this.value, false)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-danger btn-block" id="default-customstyles">초기화</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="value-info" style="margin-top: 50px;">
                                <p>위도, 경도, 복각선 간격 조절</p>
                            </div>
                        </td>
                        <td>
                            <div class="value-info" style="margin-top: 50px;">
                                <p>사용자 정의 도형</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="slider">
                                        <p>위도선 간격 = </p>
                                        <input id="lat-form" type="number" step="1" value="10" min="0" max="90" style="width: 30%;" />
                                        <input id="lat" type="range" min="0" max="90" value="10" step="1" style="width: 100%;" />
                                    </div>
                                    <div class="slider">
                                        <p>경도선 간격 = </p>
                                        <input id="long-form" type="number" step="1" value="10" min="0" max="180" style="width: 30%;" />
                                        <input id="long" type="range" min="0" max="180" value="10" step="1" style="width: 100%;" />
                                    </div>
                                    <div class="slider">
                                        <p>복각선 간격 = </p>
                                        <input id="incl-form" type="number" step="2" value="10" min="0" max="90" style="width: 30%;" />
                                        <input id="incl" type="range" min="0" max="90" value="10" step="2" style="width: 100%;" />
                                    </div>
                                </div>    
                            </div>
                        </td>
                        <td>
                            <div class="card mb-4" style="color: #3a3b45;">
                                <div class="card-body">
                                    <div>
                                        <input type="radio" style="margin: 0px 3px;" id="shape-radio0" name="shape-radio" value="circle" checked />원 
                                        <input type="radio" style="margin: 0px 3px;" id="shape-radio1" name="shape-radio" value="line" />선
                                    </div>
                                    <div class="shape-form0">
                                        <p class="shape-label" id="shape-label0">중심 좌표[위도, 경도] : </p>
                                        <input class="shape-input" id="shape-input0" type="number" step=".01" value="10" min="-90" max="90" />
                                        <p id="shape-comma0" style="display: inline-block;"> , </p>
                                        <input class="shape-input" id="shape-input1" type="number" step=".01" value="10" min="-180" max="180" />
                                    </div>
                                    <div class="shape-form1">
                                        <p class="shape-label" id="shape-label1">반지름 : </p>
                                        <input class="shape-input" id="shape-input2" type="number" step=".01" value="20" min="0.01" max="180" />
                                        <p id="shape-comma1" style="display: inline-block; visibility: hidden;"> , </p>
                                        <input class="shape-input" style="visibility: hidden;" id="shape-input3" type="number" step=".01" value="20" min="-90" max="90" />
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-primary btn-block" id="add-shape">도형 추가</button>
                                </div>
                                <div>
                                    <button class="btn btn-danger btn-block" id="delete-shape">도형 모두 제거</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>        
                            
<%@include file="../../includes/footer.jsp"%>
    
    <!-- Bootstrap core JavaScript-->
    <script src="/world-map-demo/resources/vendor/jquery/jquery.min.js"></script>
    <script src="/world-map-demo/resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/world-map-demo/resources/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/world-map-demo/resources/js/sb-admin-2.min.js"></script>
</body>

</html>